:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
.about-h1 {
  font-size: 64px;
  line-height: 80px;
  margin-left: 130px;
}
.section {
  margin-top: 150px;
}
.work-section {
  margin-top: 150px;
}
.about-h2 {
  font-size: 20px;
  margin-left: 130px;
  font-weight: bold;
  color: black;
  font-family: var(--default-font-family);
}
.about-p {
  margin-left: 130px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  display: block;
}
.about-a {
  margin-left: 130px;
}
@media (max-width: 576px) {
  .section {
    margin-top: 0;
  }
  .about-h2 {
    display: block;
    margin-left: 50px;
  }
  .about-p {
    margin-left: 50px;
  }
  .about-a {
    margin-bottom: 20px;
  }
}
.work-h1 {
  font-size: 64px;
  line-height: 80px;
  margin-left: 40px;
  margin-top: 30px;
}
.work-h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
  margin-top: 20px;
}
.work-p {
  opacity: 0.7;
  font-size: 14px;
  margin-top: -10px;
}
